@import "./../../App.module.scss";

@mixin sign {
    @include adaptivValue('font-size', 50, 20, 2);
    font-weight: 600;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    @media screen and (min-width: 900px) and (max-height: 650px) {
        font-size: 28px;
    }
}

.mobileSlideName {
    @media screen and (max-width: 899px) {
        float: left;
        position: static!important;
        margin-right: 2%;
    }
}
.informationAboutSlide {
    .sign {
        @include sign;
        width: 17em;
        @media screen and (max-width: 1200px) {
            width: 100%;
        }
        @media screen and (min-width: 900px) and (max-height: 700px) {
            font-size: 30px;
        }
    }
    .textsAndGoToContainer {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-items: center;
        align-items: center;
        grid-template-areas: 'texts goTo';
        @media screen and (max-width: 1200px) {
            display: block;
            grid-template-columns: none;
            justify-items: initial;
        }
        .goTo {
            grid-area: goTo;
            @media screen and (max-width: 1200px) {
                float: right;
                margin: 0 2% 2% 2%;
            }
        }
        .textsContainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: end;
            grid-area: texts;
            p {
                line-height: 169%;
                letter-spacing: 0.1em;
            }
            *:not(:first-child) {
                margin-left: 12%;
                @media screen and (max-width: 1200px) {
                    margin: 5% 0 0 0
                }
            }
            @media screen and (max-width: 1200px) {
                display: block;
            }
            @media screen and (min-width: 900px) and (max-height: 700px) {
                font-size: 15px;
            }
            @media screen and (min-width: 900px) and (max-height: 650px) {
                font-size: 14px;
            }
        }
    }
}
.ourAdvantagesSlide {
    .sign {
        @include sign;
        width: 14em;
        @media screen and (max-width: 1300px) {
            width: 100%;
        }
    }
    .textAndGoToContainer {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 'text goTo';
        align-items: center;
        justify-items: center;
        @media screen and (max-width: 899px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        @media screen and (min-width: 900px) and (max-height: 800px) {
            display: block;
        }
        .textContainer {
            padding-left: 5%;
            position: relative;
            grid-area: text;
            p {
                font-size: 1rem;
                letter-spacing: 0.105em;
                line-height: 169%;
                font-feature-settings: 'case' on;
                margin-bottom: 7%;
                &::before {
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    content: '';
                    position: absolute;
                    left: 0;
                    margin: 1.7% 0 0 -10px;
                }
                @media screen and (min-width: 900px) and (max-height: 700px) {
                    margin-bottom: 4%;
                }
            }
            &.textContainerLight {
                border-left: 2px solid black;
                p::before {
                    background-color: black;
                }
            }
            &.textContainerDark {
                border-left: 2px solid white;
                p::before {
                    background-color: white;
                }
            }
        }
        .goTo {
            grid-area: goTo;
            @media screen and (max-width: 899px) {
                margin: 5% 0 0;
            }
            @media screen and (min-width: 900px) and (max-height: 800px) {
                float: right;
            }
        }
    }
}