@import "./../../../App.module.scss";

.appBar {
    box-shadow: none;
    position: initial;
    height: 14vh;
    & > div {
        padding: 0!important;
    }
    @media screen and (max-width: 899px) {
        height: auto;
    }
    &.appBarLight {
        color: black;
        background-color: white;
    }
    &.appBarDark {
        background-color: black;
        color: white;
    }
}
.navLinksContainer {
    a {
        font-weight: 500;
        text-decoration: none;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.6;
        }
    }
    .activeLink {
        font-weight: bold;
    }
    .startAProjectSign {
        display: flex;
        align-items: center;
        .sign {
            margin-right: 10px;
            font-weight: 500;
            @media screen and (max-width: 1400px) {
                transform: rotate(180deg);
                margin-top: 10px;
            }
            @media screen and (max-width: 899px) {
                margin-top: 0;
                transform: initial;
            }
        }
        .mobileTriangleContainer {
            width: 23px;
            height: 27px;
            .triangle {
                @media screen and (max-width: 1400px) {
                    width: 20px;
                }
                @media screen and (max-width: 899px) {
                    grid-area: triangle;
                }
            }
        }
        @media screen and (max-width: 1400px) {
            writing-mode: vertical-rl;
            flex-direction: row-reverse;
            margin-top: 8em;
        }
        @media screen and (max-width: 899px) {
            writing-mode: initial;
            flex-direction: row;
            margin-top: inherit;
        }
    }
    &.navLinksContainerLight {
        a {
            color: black;
        }
    }
    &.navLinksContainerDark {
        a {
            color: white;
        }
    }
}
.computerMainContainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding-top: 50px;
    @media screen and (max-width: 1400px) {
        padding-top: 0;
    }
    @media screen and (max-width: 899px) {
        grid-template-areas: 'burger logo triangle';
        grid-template-columns: 2fr 1fr 2fr;
        width: 100%;
        padding: 20px 0;
    }
    .logoContainer {
        .logo {
            height: 65px;
            background-repeat: no-repeat;
            background-size: contain;
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
            &.logoLight {
                background-image: url(./../../../static/images/logoLight.png); 
            }
            &.logoDark {
                background-image: url(./../../../static/images/logoDark.jpg);
            }
            @media screen and (max-width: 800px) {
                height: 55px;
            }
            @media screen and (max-width: 700px) {
                height: 50px;
            }
            @media screen and (max-width: 600px) {
                height: 40px;
            }
            @media screen and (max-width: 500px) {
                height: 35px;
            }
            @media screen and (max-width: 400px) {
                height: 30px;
            }
        }
        @media screen and (max-width: 899px) {
            grid-area: logo;
        }
    }
    .burger {
        grid-area: burger;
        margin-left: 6px;
        transform: scale(2);
        &.burgerDark {
            filter: invert(0);
        }
    }
    .mobileTriangle {
        width: auto;
        height: auto;
        position: absolute;
        right: 0;
    }
    .navContainer {
        @include adaptivValue('font-size', 16, 14, 0);
        margin-left: 8vw;
        display: flex;
        align-items: center;
        @media screen and (max-width: 1500px) {
            margin-left: 3vw;
        }
        .home {
            @media screen and (max-width: 1300px) {
                display: none;
            }
        }
        a {
            margin-left: 3.125em;
            @media screen and (max-width: 1400px) {
                margin-left: 3.5em;
            }
            @media screen and (max-width: 1110px) {
                margin-left: 2.8em;
            }
            @media screen and (max-width: 1005px) {
                margin-left: 2.4em;
            }
            @media screen and (max-width: 980px) {
                margin-left: 1.9em;
            }
        }
        .startAProjectSign {
            margin-left: 3.125em;
            @media screen and (max-width: 1300px) {
                margin-left: 5em;
            }
            @media screen and (max-width: 1005px) {
                margin-left: 6em;
            }
            @media screen and (max-width: 930px) {
                margin-left: 5em;
            }
        }
    }
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 10px;
    &.closeIconDark {
        filter: invert(1);
    }
}
.mobileMainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    & > * {
        margin: 20px;
    }
    .phone {
        margin: 30px 0 20px 20px;
    }
}

