
.pageCreatorHOC__carousel {
    .mainCarousel__dotsContainer {
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        right: 0;
        top: -10%;
        width: fit-content;
        @media screen and (max-width: 1920px) {
            position: fixed;
            right: 2%;
        }
        li.slick-active button:before {
            font-size: 14px;
            color: #FB1B3D!important;
        }
        li button:before {
            font-size: 10px;
        }
        li button:hover:before {
            color: #FB1B3D!important;
            opacity: 0.25!important;
        }
        &.mainCarousel__dotsContainerDark {
            li {
                button:before {
                    color: white!important;
                }
                &.slick-active {
                    color: #FB1B3D!important;
                    opacity: 1!important;
                }
                &:hover:not(.slick-active) {
                    opacity: 0.5!important;
                }
            }
            
        }
    }
    .slick-list {
        @media screen and (max-width: 899px) {
            overflow-y: scroll;
            height: 92vh!important;
        }
        .slick-track {
            .slick-slide {
                height: 86vh!important;
                @media screen and (max-width: 899px) {
                    height: auto!important;
                    padding-bottom: 10%;
                }
                & > div {
                    height: 100%;
                }
                &:last-child {
                    padding-bottom: 20%;
                }
            }
        }
    }
}