@import "./../../../App.module.scss";

.ourCustomersSlide {
    .sign {
        font-size: 4.6vh;
        letter-spacing: 0.13em;
        line-height: 169%;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.5em;
        width: 17em;
        @media screen and (max-width: 899px) {
            width: 100%;
            letter-spacing: 0.09em;
        }
    }
    .itemsContainer {
        @include adaptivValue('gap', 70, 30, 2);
        display: grid!important;
        grid-template-columns: repeat(3, 1fr);
        height: 56vh;
        @media screen and (max-width: 899px) {
            height: auto;
        }
        &.itemsContainerDark a img {
            filter: invert(1);
        }
        a {
            @media screen and (max-width: 899px) {
                height: auto;
                display: flex;
                align-items: center;
            }
            img {
                height: 13vh;
                width: 97%;
                @media screen and (max-width: 899px) {
                    height: auto;
                }
            }
        }
    }
}