@import "./../../../../App.module.scss";

.contactsSlide {
    display: flex;
    .rightSide {
        padding-right: 4.37rem;
        .signs {
            .sign1 {
                text-transform: uppercase;
                font-weight: 800;
                line-height: 108%;
                letter-spacing: 0.105em;
                font-size: 30px;
                margin-bottom: 0.66em;
            }
            .sign2 {
                @include adaptivValue('font-size', 20, 16, 0);
                line-height: 108%;
                letter-spacing: 0.105em;
                margin-bottom: 2.5em;
            }
        }
        .formContainer {
            .textField {
                // @include adaptivValue('width', 600, 380, 0);
                width: 100%;
                label {
                    @media screen and (min-width: 426px) {
                        @include adaptivValue('font-size', 20, 16, 0);
                    };
                }
                input {
                    @media screen and (min-width: 426px) {
                        @include adaptivValue('height', 37, 7, 0);
                    };
                }
                &:not(:first-child) {
                    margin-top: 30px;
                }
            }
            .bigTextField {
                input {
                    @media screen and (min-width: 426px) {
                        @include adaptivValue('height', 111, 21, 0);
                    };
                }
            }
            .button {
                width: 250px;
                height: 50px;
                margin-top: 2em;
                background-color: #FB1B3D;
                color: white;
                font-weight: 800;
                line-height: 108%;
                font-size: 20px;
                letter-spacing: 0.105em;
                padding: 1em 4em;
            }
        }
    }
    .leftSide {
        margin-top: 9.3em;
        .contactInformation {
            margin-bottom: 50px;
            .contactContainer {
                display: flex;
                align-items: center;
                &:not(:first-child) {
                    margin-top: 30px;
                }
                svg {
                    width: 20px;
                    height: 20px;
                }
                p {
                    font-size: 1.25rem;
                    line-height: 132%;
                    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
                    margin-left: 20px;
                }
            }
        }
        .usefulLinks {
            @include adaptivValue('gap', 60, 40, 0);
            display: grid;
            grid-template-columns: 1fr 1fr;
            .linkContainer {
                @include adaptivValue('width', 270, 170, 0);
                @include adaptivValue('height', 175, 110, 0);
                display: flex;
                flex-direction: column;
                border: 2px solid black;
                .name {
                    @include adaptivValue('font-size', 20, 12, 0);
                    font-weight: 600;
                    text-transform: uppercase;
                    line-height: 132%;
                    margin: 2.5em 1.25em 1em;
                }
                .contact {
                    font-weight: 500;
                    list-style: 132%;
                    @include adaptivValue('font-size', 16, 12, 0);
                    margin: 0 1.6em 1.5em;
                }
                .arrow {
                    @include adaptivValue('width', 150, 100, 0);
                    margin: 0 1.6em;
                }
            }
            .lightTheme {
                background-color: white;
                color: black
            }
            .darkTheme {
                background-color: black;
                color: white;
            }
        }
    }
}