@import "./../../../../App.module.scss";

.contactsSlide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 899px) {
        grid-template-columns: 1fr;
    }
.rightSide {
        padding-right: 10%;
        @media screen and (max-width: 899px) {
            padding-right: 0;
        }
        .signs {
            .sign1 {
                text-transform: uppercase;
                font-weight: 800;
                line-height: 108%;
                letter-spacing: 0.105em;
                font-size: 30px;
                margin: 0 0 0.66em;
            }
            .sign2 {
                @include adaptivValue('font-size', 20, 16, 0);
                line-height: 108%;
                letter-spacing: 0.105em;
                margin-bottom: 2.5em;
            }
        }
        .formContainer {
            display: flex;
            flex-direction: column;
            .button {
                width: 250px;
                height: 50px;
                margin-top: 2em;
                background-color: #FB1B3D;
                color: white;
                font-weight: 800;
                line-height: 108%;
                font-size: 20px;
                letter-spacing: 0.105em;
                padding: 1em 4em;
            }
        }
    }
    .leftSide {
        margin-top: 17.5%;
        @media screen and (max-height: 950px) {
            margin-top: 0;
        }
        @media screen and (max-width: 1600p) {
            margin-top: 18.5%;
        }
        @media screen and (max-width: 1500p) {
            margin-top: 20%;
        }
        @media screen and (max-width: 1400p) {
            margin-top: 21.5%;
        }
        @media screen and (max-width: 1300p) {
            margin-top: 23.5%;
        }
        @media screen and (max-width: 1200p) {
            margin-top: 24.5%;
        }
        @media screen and (max-width: 1100p) {
            margin-top: 30%;
        }
        @media screen and (max-width: 899px) {
            margin-top: 10%;
            padding-bottom: 5%;
        }
        .contactInformation {
            margin-bottom: 50px;
            .contactContainer {
                display: flex;
                align-items: center;
                &:not(:first-child) {
                    margin-top: 30px;
                }
                svg {
                    width: 20px;
                    height: 20px;
                }
                p {
                    font-size: 1.25rem;
                    line-height: 132%;
                    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
                    margin-left: 20px;
                }
            }
        }
        .usefulLinks {
            @include adaptivValue('gap', 60, 20, 0);
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media screen and (max-width: 425px) {
                grid-template-columns: 1fr;
                gap: 0;
                & > div {
                    margin-top: 5%;
                }
            }
            .socialNetworks {
                @media screen and (max-width: 425px) {
                    text-align: center;
                    margin: 5% auto 0;
                }
            }
            .linkContainer {
                width: 100%;
                display: flex;
                flex-direction: column;
                transition: background-color 0.6s, color 0.6s;
                @media screen and (max-width: 899px) {
                    width: 98%;
                }
                .content {
                    margin: 0 auto;
                    .name {
                        @include adaptivValue('font-size', 20, 12, 0);
                        font-weight: 600;
                        text-transform: uppercase;
                        line-height: 132%;
                        margin: 15% 0 1em;
                    }
                    .contact {
                        font-weight: 500;
                        line-height: 132%;
                        @include adaptivValue('font-size', 16, 12, 0);
                        margin: 0 0 1.5em;
                    }
                    .arrow {
                        @include adaptivValue('width', 150, 100, 0);
                        padding-bottom: 15%;
                    }
                }
                &.lightTheme {
                    background-color: white;
                    color: black;
                    border: 2px solid black;
                    .arrow {
                        filter: invert(1);
                    }
                    &:hover {
                        color: white;
                        background-color: black;
                        .arrow {
                            filter: initial;
                        }
                    }
                }
                &.darkTheme {
                    background-color: black;
                    color: white;
                    border: 2px solid white;
                    &:hover {
                        color: black;
                        background-color: white;
                        .arrow {
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }
}