@import "./../../App.module.scss";

.forClientsSlide {
    width: 42%;
    @media screen and (max-width: 899px) {
        width: 100%;
    }
    .particles {
        width: 55%;
        right: 0;
        @media screen and (max-width: 899px) {
            display: none;
        }
    }
    .sign {
        @include adaptivValue('font-size', 20, 15, 0);
        font-weight: 600;
        line-height: 172%;
        text-transform: uppercase;
        padding-bottom: 5%;
        border-bottom: 2px solid #FB1B3D;
    }
    .form {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        .button {
            @include adaptivValue('font-size', 20, 12, 0);
            text-align: center;
            letter-spacing: 0.105em;
            background-color: #FB1B3D;
            padding: 1.1em 2.25em;
            margin-top: 2.75em;
            color: #fff;
            font-family: 'montserrat';
            width: fit-content;
            font-weight: 800;
        }
    }
}