@import "./../../../../../App.module.scss";

.scrollableContentHOCContainer {
    .signAndChoosenServicesMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
        .sign {
            @include adaptivValue('font-size', 40, 30, 2);
            font-weight: 500;
            line-height: 108%;
            letter-spacing: 0.13em;
            text-transform: uppercase;
            margin: 0;
            @media screen and (max-width: 500px) {
                margin-bottom: 5%;
            }
        }
        @media screen and (max-width: 899px) {
            flex-direction: column;
        }
        @media screen and (max-width: 500px) {
            align-items: initial;
            justify-content: initial;
        }
    }
    .itemContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 3%;
        width: calc(100% - 50px);
        @media screen and (max-width: 1200px) {
            grid-template-columns: 2fr 3fr;
        }
        @media screen and (max-width: 899px) {
            grid-template-columns: none;
            grid-template-areas: 'name' 'info';
        }
        .imgAndGoToContainer {
            background-color: #FB1B3D;
            display: flex;
            align-items: center;
            @media screen and (max-width: 899px) {
                grid-area: name;
            }
            .imgAndGoToContainer2 { 
                display: flex;
                margin: 0 auto;
                @media screen and (max-width: 899px) {
                    padding: 4% 0;
                    justify-content: center;
                }
                .serviceName {
                    @include adaptivValue('font-size', 30, 20, 2);
                    text-transform: uppercase;
                    line-height: 108%;
                    letter-spacing: 0.13em;
                    color: white;
                    width: 6em;
                    @media screen and (max-width: 899px) {
                        margin-left: 0;
                    }
                }
                .goTo {
                    @include adaptivValue('height', 100, 90, 2);
                    @include adaptivValue('width', 100, 90, 2);
                    margin-top: 10%;
                    p {
                        @include adaptivValue('font-size', 13, 12, 2);
                    }
                    img {
                        width: 63px;
                    }
                    &.goToLight {
                        background-color: black;
                    }
                    &.goToDark {
                        background-color: white;
                        p {
                            color: black;
                        }
                        img {
                            filter: invert(1);
                        }
                    }
                }
            }
        }
        .informationContainer {
            margin-left: 4%;
            @media screen and (max-width: 899px) {
                grid-area: info;
                margin: 5% 0 0 0;
            }
            .serviceName {
                @include adaptivValue('font-size', 30, 20, 2);
                text-transform: uppercase;
                line-height: 108%;
                letter-spacing: 0.13em;
                font-weight: 700;
                margin-bottom: 0.5em;
            }
            .description {
                line-height: 169%;
                letter-spacing: 0.105em;
                font-feature-settings: 'case' on;
                margin-bottom: 4%;
            }
            .priceAndCheckbox {
                display: flex;
                justify-content: space-between;
                .price {
                    font-size: 40px;
                    letter-spacing: 0.13em;
                    line-height: 108%;
                    font-weight: 700;
                }
                .checkbox {
                    span {
                        font-family: 'montserrat';
                    }
                    &.checkboxLight {
                        span {
                            color: black;
                        }
                    }
                    &.checkboxDark {
                        span {
                            color: white;
                        }
                    }
                }
                @media screen and (max-width: 500px) {
                    flex-direction: column;
                }
            }
        }
    }
}