@import "./../../../../../App.module.scss";

.scrollableContentHOCContainer {
    .sign {
        @include adaptivValue('font-size', 40, 30, 0);
        font-weight: 500;
        line-height: 108%;
        letter-spacing: 0.13em;
        text-transform: uppercase;
    }
    .itemContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 2.5rem;
        width: 95%;
        .imgAndGoToContainer {
            background-color: #FB1B3D;
            .imgAndGoToContainer2 { 
                display: flex;  
                .serviceName {
                    @include adaptivValue('font-size', 30, 20, 0);
                    text-transform: uppercase;
                    line-height: 108%;
                    letter-spacing: 0.13em;
                    color: white;
                    width: 6em;
                    margin: 1em 0 0 1.5em;
                }
                .goTo {
                    width: 100px;
                    height: 100px;
                    background-color: black;
                    margin: 5rem 0 0 1rem;
                    p {
                        font-size: 13px;
                        margin-left: 1em;
                    }
                    img {
                        margin-left: 0.8em;
                        width: 63px;
                    }
                }
            }
        }
        .informationContainer {
            margin-left: 2.18rem;
            .serviceName {
                @include adaptivValue('font-size', 30, 20, 0);
                text-transform: uppercase;
                line-height: 108%;
                letter-spacing: 0.13em;
                font-weight: 700;
                margin-bottom: 0.5em;
            }
            .description {
                line-height: 169%;
                letter-spacing: 0.105em;
                font-feature-settings: 'case' on;
                margin-bottom: 1.875em;
            }
            .price {
                font-size: 2.5rem;
                letter-spacing: 0.13em;
                line-height: 108%;
                font-weight: 700;
            }
        }
    }
}