@import "./../../../../App.module.scss";

.alert {
    @include adaptivValue('font-size', 20, 16, 0);
    position: fixed;
    right: 0;
    bottom: 0;
    animation: fadeIn 10s;
    color: white;
    background-color: #FB1B3D;
    z-index: 1;
}
@keyframes fadeIn {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}