.alert {
    position: fixed;
    right: 0;
    bottom: 0;
    animation: fadeIn 10s;
    font-size: 16px;
    color: white;
}
@keyframes fadeIn {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}