@import "./../../../App.module.scss";

.textField {
    .textFieldLabel, .textFieldInput {
        font-family: 'montserrat';
        @include adaptivValue('font-size', 20, 15, 0);
        &.textFieldLabelDark, &.textFieldInputDark {
            color: white;
        }
        .textFieldBorderDark {
            border-width: 1px;
            border-color: white;
        }
    }
    @media screen and (min-width: 900px) {
        &:not(:first-child) {
            margin-top: 35px;
        }
    }
    @media screen and (max-width: 899px) {
        margin-top: 35px;
        width: 98%;
    }
}