@import "./../../../App.module.scss";

.textField {
    &:not(:first-child) {
        margin-top: 35px;
    }
    .textFieldLabel, .textFieldInput {
        font-family: 'montserrat';
        @include adaptivValue('font-size', 20, 15, 0);
    }
    @media screen and (max-width: 899px) {
        width: 98%;
    }
}