@import "./../../../App.module.scss";

.textField {
    &:not(:first-child) {
        margin-top: 35px;
    }
    .textFieldLabel, .textFieldInput {
        font-family: 'montserrat';
        @include adaptivValue('font-size', 20, 15, 0);
        &.textFieldLabelDark, &.textFieldInputDark {
            color: white;
        }
        &.textFieldInputDark {
            border-width: 1px;
            border-color: white!important;
        }
    }
    @media screen and (max-width: 899px) {
        width: 98%;
    }
}