.rootLight {
    background-color: white;
}
.rootDark {
    background-color: black;
    color: white;
}
@font-face {
    font-family: 'potra';
    src: url(./static/fonts/Potra.ttf);
}
@font-face {
    font-family: 'montserrat';
    src: url(./static/fonts/montserrat/Montserrat.ttf);
}
@font-face {
    font-family: 'montserrat';
    src: url(./static/fonts/montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'montserrat';
    src: url(./static/fonts/montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'montserrat';
    src: url(./static/fonts/montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'body grotesque';
    src: url(./static/fonts/bodyGrotesque/BodyGrotesque.ttf);
}
@font-face {
    font-family: 'body grotesque';
    src: url(./static/fonts/bodyGrotesque/Body-Grotesque-Bold.ttf);
    font-weight: 800;
}