.simplebar-wrapper {
    height: 66vh; 
}
.scrollableContentHOC_scrollbarLight {
    .simplebar-track.simplebar-vertical::after {
        background-color: black;
    }
}
.scrollableContentHOC_scrollbarDark {
    .simplebar-track.simplebar-vertical::after {
        background-color: white;
    }
}
.simplebar-track.simplebar-vertical {
    width: 35px;
    &::after {
        content: '';
        height: 100%;
        width: 2px;
        display: inline-block;
        margin-left: 15px;
        position: relative;
        z-index: -2;
    }
}
.simplebar-scrollbar {
    &::before {
        border-radius: 50%;
        width: 29px;
        height: 29px;
        margin: -2px 0 0 -1px;
        background-color: #FB1B3D;
        opacity: 1!important;
    }
}