.pageCreatorHOC__carousel .carouselInSlideHOC__mainContainer .slick-list {
    @media screen and (max-width: 899px) {
        height: auto!important;
        .slick-slide {
            padding-bottom: 0!important;
            &:not(.slick-slide.slick-cloned) {
                display: none;
            }
        }
    }
}

.carouselInSlideHOC__mainContainer {
    .slick-list {
        height: 76vh;
        overflow-y: hidden!important;
    }
    .carouselInSlideHOC__dotsContainer {
        z-index: 1;
        bottom: -3%;
        @media screen and (max-width: 899px) {
            bottom: -40px;
        }
        &.carouselInSlideHOC__dotsContainerLight {
            li button {
                background-color: black;
            }
        }
        &.carouselInSlideHOC__dotsContainerDark {
            li button {
                background-color: white;
            }
        }
        li {
            &:not(:first-child) {
                margin-left: 10px;
            }
            width: fit-content;
            button:before {
                content: none;
            }
            &.slick-active button {
                background-color: #FB1B3D;
            }
            button {
                width: 40px;
                height: 5px;
                border-radius: 100px;
            }
        }      
    }
}
