@import "./../../../App.module.scss";

.HOCContainer {
    position: relative;
    height: 100%;
    .slideName {
        font-size: 4.6vh;
        text-transform: uppercase;
        font-weight: 800;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        position: absolute;
        bottom: 12%;
        left: 0;
        letter-spacing: 0.13em;
        @media screen and (max-width: 899px) {
            bottom: initial;
        }
    }
    .slideNameMobileStyles {
        @media screen and (max-width: 899px) {
            display: none;
        }
    }
    .scrollToSignContainer {
        writing-mode: vertical-rl;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 1.5%;
        bottom: 9%;
        @media screen and (max-height: 950px) {
            bottom: 10%;
        }
        .sign {
            @include adaptivValue('font-size', 20, 15, 0);
            transform: rotate(180deg);
        }
        .strip {
            height: 70px;
            width: 1px;
            margin-top: 25px;
            &.stripLight {
                background-color: black;
            }
            &.stripDark {
                background-color: white;
            }
        }
        @media screen and (max-width: 899px) {
            display: none;
        }
    }
    .mainContainer {
        width: 85%;
        margin: 4% auto 0;
        @media screen and (max-width: 899px) {
            width: 100%;
            margin: 0;
        }
    }
}