@import "./../../../App.module.scss";

.HOCContainer {
    position: relative;
    height: 100%;
    .slideName {
        @include adaptivValue('font-size', 70, 30, 0);
        text-transform: uppercase;
        font-weight: 800;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        position: absolute;
        bottom: 12%;
        left: 0;
        letter-spacing: 0.13em;
    }
    .smallSlideName {
        @include adaptivValue('font-size', 50, 30, 0);
    }
    .scrollToSignContainer {
        writing-mode: vertical-rl;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 1.5%;
        bottom: 10%;
        .sign {
            @include adaptivValue('font-size', 20, 15, 0);
            transform: rotate(180deg);
        }
        .strip {
            height: 70px;
            width: 1px;
            background-color: black;
            margin-top: 25px;
        }
    }
    .mainContainer {
        width: 75%;
        margin: 4% auto 0;
    }
}